p {
  margin: 0;
}

.station-container {
  width: 100%;
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 20px;
  transition: all ease-in-out 0.2s;
  animation: slipIn 0.9s ease-in-out 100ms;
}

.station-container:hover {
  box-shadow: 0 0 20px #999;
  transform: scale(1.02);
}

@keyframes slipIn {
  0% {
    transform: translateY(40px);
    opacity: 0;
    box-shadow: 0 0 20px #999;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    box-shadow: 0 0 20px transparent;
  }
}

.picture-container {
  flex: 4;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.station-picture {
  border-radius: 10px 10px 10px 10px;
  width: 75%;
  height: auto;
  transition: all ease-out 0.2s;
}

.station-container:hover .station-picture {
  border-radius: 10px 0px 0px 10px;
}

.content-container {
  flex: 6;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 30px;
  animation: slipIn ease-in-out 0.5s;
}

.main-infos {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10px;
}

.icons-infos {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.row-infos {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2px;
}

.primary-info {
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato";
}

.secondary-info {
  font-size: 12px;
  font-family: "Lato";
}

@media only screen and (max-width: 1280px) {
  .picture-container {
    height: 22vh;
  }
}

@media only screen and (max-width: 1080px) {
  .picture-container {
    height: 18vh;
  }
  .primary-info {
    font-size: 12px;
  }
  .secondary-info {
    font-size: 10px;
  }
}

@media only screen and (max-width: 920px) {
  .picture-container {
    height: 30vh;
  }
  .primary-info {
    font-size: 20px;
  }
  .secondary-info {
    font-size: 14px;
  }
}

@media only screen and (max-width: 580px) {
  .picture-container {
    height: 24vh;
  }
  .primary-info {
    font-size: 16px;
  }
  .secondary-info {
    font-size: 12px;
  }
}

@media only screen and (max-width: 460px) {
  .picture-container {
    height: 20vh;
  }
  .primary-info {
    font-size: 14px;
  }
  .secondary-info {
    font-size: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .picture-container {
    height: 18vh;
  }
  .primary-info {
    font-size: 14px;
  }
  .secondary-info {
    font-size: 10px;
  }
  .Station-container {
    height: 25vh;
  }
}
