.row-inputs-trip {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30vw;
}

.column {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
