.map-container {
  width: 60vw;
  height: 100vh;
  position: relative;
}

.container-user-marker {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marker-station {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

@media only screen and (max-width: 920px) {
  .map-container {
    width: 100vw;
  }
}
